/* @font-face {
  src: url(../fonts/Gudea-Regular.ttf);
  font-family: "Gudea";
}
@font-face {
  src: url(../fonts/Orbitron-Regular.ttf);
  font-family: "Orbitron";
} */
.navbar-link{
  color: white;
}
.bg-nav{
  background-color: #0E5378;
}
.marg-b{
  margin-bottom: 30px;
}
.password{
  margin-bottom: 30px;
}
.form-class input:not(#checkbox){
  margin-left: 40px;
  border-radius: 5px;
  border: 1px solid #D9E8D7;
  padding: 13px;
  width: 350px;
}
/* .form-class input:not(#checkbox):focus {
  border: 1px solid #2E82A0;
} */
.form-class input:focus {
  box-shadow: 0 0 10px #2E82A0;
  outline: 0;
}
.form-class button:hover{
  background-color: #2E82A0;
  cursor: pointer;
}
.form-class button:focus{
  box-shadow: 0 0 20px #2E82A0;
  outline: none;
}
a:focus{
  font-weight: bold;
  color: #2E82A0;
}
.form-class button{
  padding: 15px;
  border-radius: 30px;
  color: white;
  background-color: #0E5378;
  border: 0;
  width: 270px;
  font-size: 18px;
  margin-left: 80px;
  margin-top: 50px;
}
.form-class button+a{
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 130px;
}
.form-class input[type="checkbox"]{
 margin-left: 50px;
 margin-right: 10px;
}
.form-class h2{
  font-weight: bold;
  padding: 20px;
  font-size: 30px;
  color: #0E5378;
  margin-left: 110px;
}
.form-class {
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  margin-top: 130px;
  margin-left: 80px;
}
.form-class-auto{
  height: 450px;
  width: 38%;
  position: relative;
  top: 0;
  left: 0;
}
.form-class a {
  color: #000;
}
.form-class a:hover {
  color: #263646;
  text-decoration: underline;
}
blockquote{
  padding-top: 10px;
  text-align: center;
  color: #263646;
  font-weight: bold;
  font-size: 20px;
  margin-top: 110px;
}
.marg-bottom{
  margin-bottom: 30px;
}
.form-centered{
  margin: 80px auto;
  width: 40%;
}
.button{
  margin-bottom: 50px;
}

/* Homepage Style */
.home-header{
  padding: 0;
  margin: 0;
  background: #0E5378;
}
a{text-decoration: none;}
input[type="search"]{
  width: 500px;
  padding: 7px;
  margin-left: 150px;
  border-radius: 2px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
input[type="search"]:focus{
  background: rgba(255, 255, 255);
}
.home-header{
  padding-top: 9px;
}
.icon{
  margin-left: 20px;
  padding: 2px 5px;
}
.mg-lf{margin-left: 120px;}
.icon:hover{
  box-shadow: 0 0 20px #fff;
}
.home-header div{
  display: inline-block;
  font-size: 15px;
}
.home-header div span{
  padding-top: 2px;
  display: block;
}
#home{
  margin-left: 30px;
}
.home-header div a{
  color: white;
}
.home-header div form{
  position: relative;
  top:-6px;
}
.home-container{
  height: 100vh;
}
.home-container-content{
  padding: 20px;
}
.errorMsg{
  font-size: 13px;
  color: red;
  position: absolute;
  top: -25px;
  left: 50px;
}
